@media (min-width: 650px) {
  .banner-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .banner-img {
    width: 50vw;
  }
  .banner-content h1 {
    width: 40vw;
    font-size: 2.2rem;
  }
  .wrapper {
    width: 90%;
  }
  header nav {
    position: static;
    background-color: transparent;
    height: 40px;
    width: 50vw;
  }
  .header-element-container ul {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: -25px;
  }
  .header-element-container ul li {
    padding: 0;
  }
  .hamburger {
    display: none;
  }
  header nav li a {
    color: rgb(255, 255, 255);
    font-size: 1.1em;
  }
}

@media (min-width: 550px) {
  .modal-container {
    padding: 30px 15% 5%;
    background-color: rgb(228, 223, 220);
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 720px) {
  a {
    font-size: 1.4rem;
  }
  .cart img {
    width: 25px;
  }
  .logo {
    width: 70px;
  }
  header nav {
    width: 65%;
  }
  .banner-img {
    min-width: 55%;
    display: block;
  }
  .banner-content h1 {
    font-size: 2.6rem;
    margin: 0;
    padding: 0;
  }
  .hide-mobile {
    display: block;
  }
  .millenial-text h3 {
    font-size: 1.8rem;
  }
  .millenial-text p {
    font-size: 1rem;
  }
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .gallery-section h2 {
    font-size: 1.9rem;
    margin-bottom: 40px;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px 50px;
  }
  .product img {
    max-width: 100%;
  }
  footer .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem 10rem;
    /* grid-template-rows: auto auto auto; */
  }

  .quick-links ul li a {
    text-align: center;
    font-size: 1rem;
  }
  footer h3 {
    font-size: 1.5rem;
  }
  .copy-ninja {
    grid-column: 1/3;
  }
  .modal-container {
    padding: 30px 5% 5%;
    background-color: rgb(228, 223, 220);
    width: 70%;
    height: 100%;
  }
}

@media (min-width: 960px) {
  .wrapper {
    width: 80%;
  }
  header nav {
    width: 50%;
  }
  .logo {
    width: 100px;
  }
  .cart img {
    width: 30px;
  }
  .cart span {
    font-size: 1.5rem;
  }
  .banner-content h1 {
    font-size: 3rem;
  }
  .banner-img {
    max-width: 68%;
  }
  .millenial-text h3 {
    font-size: 2.5rem;
  }
  .millenial-text p {
    font-size: 1.2rem;
  }
  .gallery-section h2 {
    font-size: 2.3rem;
  }
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .app {
    display: none;
  }
  footer .wrapper {
    width: 85%;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
  }
  .foot-form {
    grid-column: 1/3;
  }
  .copy-ninja {
    grid-column: 5/6;
    grid-row: 1;
  }
  .copy-ninja small {
    margin-bottom: 20px;
    display: block;
  }
  .contacts ul {
    flex-direction: column;
    padding-top: 10px;
  }
  footer {
    padding: 5% 0;
  }

  .quick-links ul li a {
    text-align: center;
  }
  .copy-ninja small {
    font-size: 0.8rem;
  }
  .modal-container {
    padding: 30px 10% 5%;
    background-color: rgb(228, 223, 220);
    width: 70%;
    height: 100%;
  }
}
