* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
  font: 1.5rem 'Merriweather';
}

.cart {
  background-color: rgba(250, 116, 20, 0.9);
  padding: 1px 8px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  width: 65px;
}
.cart img {
  width: 19px;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgb(4, 4, 39);
  z-index: 1;
}
.wrapper {
  width: 95%;
  margin: 0 auto;
}
.header-element-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  box-shadow: 2px 0 10px rgb(26, 26, 82);
}
.header-element-container ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding-top: 30px;
}
.header-element-container ul li {
  padding: 20px 0;
  width: 100%;
}
.header-element-container ul li a {
  display: block;
}
.header-element-container ul li a:hover {
  text-decoration: underline;
}
.hamburger {
  height: 20px;
  width: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 2%;
  left: 50%;
}
.line {
  height: 2px;
  width: 100%;
  background-color: white;
}
header nav {
  position: absolute;
  top: -900px;
  left: 0;
  background-color: rgb(5, 5, 5);
  width: 100vw;
  height: 100vh;
  display: flex;
}
.appear {
  top: 40px;
}

.banner-content h1 {
  text-align: left;
  padding: 10px;
  font: oblique 3rem 'Potta One', cursive;
  color: rgb(4, 4, 39);
  font-size: 1.5rem;
}
.banner-img {
  max-width: 100vw;
}
.banner-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  padding-top: 80px;
}

#shop-now {
  padding: 10px;
  margin: 0 auto;
  background-color: rgba(250, 116, 20, 0.9);
  border-radius: 10px;
  color: white;
  border: none;
  font-size: 0.9rem;
  display: block;
  width: 25%;
  min-width: 150px;
  outline: none;
  cursor: pointer;
}
#shop-now:hover {
  font-size: 1rem;
  letter-spacing: 2px;
  transition: all ease-in-out 1s;
  background-color: rgb(246, 150, 82);
}
.banner {
  background-color: rgba(250, 116, 20, 0.3);
  padding-bottom: 30px;
}
.text {
  line-height: 1.8;
  color: hsl(180, 71%, 97%);
  text-align: center;
  background: rgb(4, 4, 39) url('icons/wave.svg') no-repeat center center/cover;
}
#millenial-text h3 {
  font-size: 1.5rem;
  letter-spacing: 1px;
}
#millenial-text p {
  color: white;
  text-align: justify;
  border-radius: 10px;
  padding: 5px 0;
  font-weight: 300;
}
.hide-mobile {
  display: none;
}
article {
  padding: 40px 0;
}
q {
  display: block;
  padding-top: 20px;
  font-size: 1.2rem;
}
.gallery-section {
  background-color: rgba(7, 20, 87, 0.15);
  padding-top: 50px;
}
.gallery-section h2 {
  font-size: 2.5rem;
  text-align: center;
  color: rgb(25, 33, 34);
  padding: 10px;
  margin-bottom: 20px;
}
.product {
  max-width: 90vw;
  text-align: center;
  margin: 0 auto;
  position: relative;
  padding-bottom: 50px;
}
.product img {
  max-width: 70%;
  box-shadow: 5px 10px 20px;
  display: block;
  margin: 0 auto;
}
.price {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.8rem;
  opacity: 0;
  /* transition: all 0.1s;*/
}
.price:hover {
  opacity: 1;
  background-color: rgba(49, 49, 48, 0.11);
  height: 77%;
  left: 0;
  top: 0;
}
.product-name {
  font-weight: bold;
  margin: 20px auto 4px;
  font-size: 1.2rem;
}
.add-to-cart-btn,
[type='submit'] {
  background: rgba(250, 116, 20, 0.8);
  outline: none;
  border: none;
  padding: 8px;
  width: 140px;
  border-radius: 10px;
  font: italic bold 0.7rem 'Merriweather Sans', sans-serif;
  cursor: pointer;
}
[type='submit'] {
  font-weight: normal;
}
footer {
  background: rgb(0, 0, 0);
  color: white;
  padding: 5%;
  font-family: 'Architects Daughter', cursive;
  text-align: center;
}
footer img {
  width: 50px;
}
footer h3 {
  font-size: 2rem;
  margin: 0 2%;
  padding: 0px 20px 20px 20px;
}
footer form label {
  padding: 25px 0;
  font-size: 0.85rem;
}
footer input {
  display: block;
  width: 100%;
  margin-top: 30px;
  height: 40px;
  border: none;
  background-color: black;
  color: rgba(250, 116, 20, 0.8);
  outline: none;
  text-align: center;
}

footer ::placeholder {
  color: rgba(217, 172, 140, 0.958);
  text-align: center;
  font-size: 0.9rem;
  opacity: 0.7;
}
form button {
  color: white;
  background: rgba(250, 116, 20, 0.8);
  font-weight: normal;
  margin-bottom: 40px;
}
.quick-links li a {
  font-size: 0.85rem;
  text-align: center;
  color: rgb(243, 235, 225);
  font-variant: normal;
}
.quick-links li {
  padding: 10px;
}
.contacts {
  max-width: 100%;
}
.contacts ul {
  display: flex;
  justify-content: center;
  padding: 30px 5px 30px;
  margin: 0;
}
.contacts li {
  padding: 0;
}
.app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 50px;
}
.app .playstore a {
  font-size: 0.8rem;
  width: 70px;
  color: #fff;
  text-align: left;
}
.app div img {
  float: left;
}
.app .address a {
  font-size: 0.8rem;
  width: 110px;
  color: white;
  text-align: right;
}
.copy-ninja {
  margin: 5px auto;
  max-width: 250px;
}
/* Modal */
.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(38, 18, 6, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}
.modal-show {
  opacity: 1;
  pointer-events: auto;
  transition: ease-in-out 0.5s;
}
.modal-container {
  padding: 30px 5% 5%;
  background-color: rgb(228, 223, 220);
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(43, 37, 33);
}

.cart-row-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.individual-cart-item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.minus,
.plus {
  background-color: rgba(250, 116, 20, 0.8);
  border: none;
  padding: 2px 5px;
  border-radius: 20px;
  margin: 0 3px;
  cursor: pointer;
  outline: none;
}
.modal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.modal form input {
  width: 80%;
  margin: 10px 0;
  height: 30px;
  border: none;
  outline: none;
  background-color: rgba(236, 215, 192, 0.8);
}

.modal form ::placeholder {
  padding-left: 10px;
  font-size: 0.9em;
}
.modal form input:focus {
  background-color: rgb(236, 234, 233);
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.total-amount {
  text-align: center;
}
.total-amount h2 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  opacity: 0.8;
}
#total {
  font-size: 1.5em;
}
.continue-checkout {
  text-align: center;
  margin-top: 30px;
}
#checkout,
#continue {
  font-size: 0.8rem;
}
#continue {
  background-color: rgba(214, 158, 98, 0.8);
}
.continue-checkout button,
.remove-btn {
  background: rgba(250, 116, 20, 0.8);
  outline: none;
  border: none;
  padding: 8px;
  width: 140px;
  border-radius: 10px;
  font: italic bold 0.7rem 'Merriweather Sans', sans-serif;
  cursor: pointer;
}
button:hover {
  transition: all 1s ease;
  opacity: 0.8;
}
.remove-btn {
  width: 70px;
  padding: 5px 0;
  font-weight: normal;
}
.cart-quantity {
  margin-right: 30px;
}

/* summary modal section */
.summary-modal {
  background-color: rgba(38, 18, 6, 0.5);
  position: fixed;
  z-index: 10000;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}
.summary-modal-show {
  opacity: 1;
  pointer-events: auto;
  transition: ease-in-out 0.8s;
}

.summary-modal-container {
  padding: 30px 5% 5%;
  background-color: rgb(228, 223, 220);
  width: 90%;
  height: 80%;
  overflow-y: scroll;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(43, 37, 33);
  text-align: center;
}
#buyer-name {
  color: rgb(209, 122, 60);
}
.summary-modal-container h1 {
  font-size: 1.2rem;
}
.summary-modal-container img {
  width: 10rem;
  margin: 20px auto;
}
.item-summary-header {
  display: flex;
  margin: 10px 0;
  justify-content: space-around;
  align-items: center;
}
.first-summary-item,
.second-summary-item {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 5px auto;
}
.first-summary-item span,
.second-summary-item span {
  margin-right: 50px;
}

#ok {
  background: rgba(250, 116, 20, 0.8);
  width: 10rem;
  color: white;
  font-size: 1.5rem;
  border: none;
  outline: none;
  padding: 10px 50px;
  margin-left: 40%;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}
